<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Admin:</strong>
  <span>{{model.admin}}</span>
</p>

<p>
  <strong>Createdat:</strong>
  <span>{{model.createdAt}}</span>
</p>

<p>
  <strong>Updatedat:</strong>
  <span>{{model.updatedAt}}</span>
</p>

