<p class="hidden-print">
  {{link-to "Back to Expenses" "expenses.index" }}
</p>

<div class="page-header">
  <h2>Expense Report <small class="visible-print-inline">({{session.currentUser.email}})</small></h2>
  <h2><small>Week ending: {{format-date weekEnd}}</small></h2>
</div>

<p class="hidden-print">
  <button class="btn btn-default" {{action 'print'}}>Print</button>
</p>

<p>
  <div class="row">
    <div class="col-sm-3">
      <strong>Total Amount</strong>
    </div>
    <div class="col-sm-9">
      {{format-currency totalAmount}}
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-sm-3">
      <strong>Average Daily Spend</strong>
    </div>
    <div class="col-sm-9">
      {{format-currency dailyAverage}}
    </div>
  </div>
</p>
