<p>
  {{link-to "Back to Expenses" "expenses.index" }}
</p>

<div class="page-header">
  <h1>Expense</h1>
</div>

<p>
  <div class="row">
    <div class="col-sm-2">
      <strong>Date</strong>
    </div>
    <div class="col-sm-10">
      {{format-date model.datetime}}
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-sm-2">
      <strong>Time</strong>
    </div>
    <div class="col-sm-10">
      {{format-time model.datetime}}
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-sm-2">
      <strong>Description</strong>
    </div>
    <div class="col-sm-10">
      {{model.description}}
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-sm-2">
      <strong>Amount</strong>
    </div>
    <div class="col-sm-10">
      {{format-currency model.amount}}
    </div>
  </div>
</p>

{{#if model.comment}}
  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Comment</strong>
      </div>
      <div class="col-sm-10">
        {{model.comment}}
      </div>
    </div>
  </p>
{{/if}}
