<div class="page-header">
  <h1>Sign up</h1>
</div>

{{#if errors}}
  <div id="errors" class="alert alert-danger col-sm-offset-2 col-md-10">
    <strong>Registration cannot be completed!</strong>
    <ul>
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<form id="#signup" class="form-horizontal" {{action 'register' on='submit'}}>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{input value=email id="email" class="form-control" type="text" placeholder="Email"}}
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      {{input value=password id="password" class="form-control" type="password" placeholder="Password"}}
    </div>
  </div>

  <div class="form-group">
    <label for="confirmation" class="col-sm-2 control-label">Confirm password</label>
    <div class="col-sm-10">
      {{input value=confirmation id="confirmation" class="form-control" type="password" placeholder="Confirm password"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
</form>
